@import './variables';

*{
    padding: 0;
    margin: 0;
}

body,html{
    font-family: $text;
    overflow-x:hidden;
}

.navbar{
    min-height: 15vh;
    background-color: $ligthgreen;
    padding: 10px;
    margin-bottom: 3px;

    &_logo{
        height: 55px;
        padding: 0 10%;
    }

    &_burger {
        cursor: pointer;
        color: $green;
    }
}

.content{
    &--fresh{
        background-color: $ligthgreen; 

        &_img{
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-image: url("../images/banner.jpeg");
        }
    }

    &--work{
        width: 100%;
        background-color: $green;
        padding: 60px 10px;

    }

    &--promise{
        background-color: lightgray;
       
       &_img{
        height: 400px;
        background-position: center center;
        background-size: cover;
        background-image: url("../images/banner-2.jpeg");
        }
    }

    &--healt{
        &_img{
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-image: url("../images/banner-3.jpeg");
        }
    }

    &--about{
        width: 100%;
        background-image: linear-gradient(to, $green 50% ,lightgray 50%);
        padding: 60px 10px;
    }

    &--happy{
        &_img{
            height: 550px;
            background-position: center center;
            background-size: cover;
            background-image: url("../images/banner-4.jpeg");
        }
    }

    &--card{
        width: 100%;
        background-color: lightblue;
        padding: 0;
    }

    &--maps{
        &_img{
            height: 100%;
            width: 100%;
            min-height: 450px;
            background-position: center center;
            background-size: cover;
            background-image: url("../images/banner-5.jpeg");
        }
    }

}


.card{
    margin:0 35px;
    &__info{
        margin: 15px 0;
        width: 250px;
        padding: 20px;
        background-color: $white;
        img{
            width: 100px;
            height: 100px;
            border-radius: 150px;
        }
        &_title{
            padding: 15px 0;
            font-size: 1.25rem;
            font-family: $text;
        }
    }
}

.title{
    &_work{
        font-size: 2.5em;
        color: white;
    }
}

/* footer */

.footer-container{
    width: 100%;
    font-size: .8rem;
    background-color: $ligthblack;
    color: $white;
    padding: 25px 20px;

    p{
        margin: 35px 0;
    }
    a{
        margin: 0 5px;
        color: #e2c178;
    }
}


.item {
    &--info{
        &__content{
            padding: 39px;
        }
    }

    &__title-banner{
        position: absolute;
        left: 100px;
        font-size: 1.15em ;
        color: $green;
        
        &-2{
            font-size: 1.15em ;
            color: $green;
            padding: 0 5px;
        }
    }

    &__subtitle-banner{
        font-family: $title;
        color: $tomato;
        font-size: 4em;
        position: relative;
        
        &-l{
            font-family: $title;
            color: $tomato;
            font-size: 3em;
        }

        &-3{
            font-family: $title;
            color: $tomato;
            font-size: 2.5em;
        }
    }

    &__button{
        width: 80px;
        margin:25px 0 ;
        padding: 12px 20px;
        font-size: 12px;
        color: #ffffff;
        border-radius: 20px;
        background-color: $green;

        &-orange{
            width: 80px;
            margin:25px 0;
            padding: 12px 20px;
            font-size: 12px;
            color: #ffffff;
            border-radius: 20px;
            background-color: $tomato;

        }
        
    }

	&--text, &--img {
        width: 300px;
		height: 290px;
        margin: 15px;
    }

    &--text{
        background-color: #fff;
        img{
            margin-top: 20px;
        }
    }

	&__title {
        font-size: 1.3em;
	}
	
	&__desc {
        margin-top: 15px;
        font-style: italic;
        padding: 0 5px;
	}
		
	&--img {
		background-position: center center;
		background-size: cover;
		
		&:nth-child(1) {
			background-image: url(../images/grid-1.jpeg);
		}
		
		&:nth-child(3) {
			background-image: url(../images/grid-3.jpeg);
		}
		
		&:nth-child(5) {
			background-image: url(../images/grid-2.jpeg);
		}
    }

    &--card, &--img2 {
        width: 300px;
		height: 200px;
    }

    &--card{
        padding: 20px 0;
		height: 130px;
        background-color: #fff;
    }

    &--img2 {
		background-position: center center;
		background-size: cover;
		
		&:nth-child(5) {
			background-image: url(../images/grid-4.jpeg);
		}
		
		&:nth-child(6) {
			background-image: url(../images/grid-5.jpeg);
		}
		
		&:nth-child(7) {
			background-image: url(../images/grid-6.jpeg);
        }
        &:nth-child(8) {
			background-image: url(../images/grid-7.jpeg);
		}
	}
    
}

@media only screen and (min-width: 584px){
    .navbar{
        &_logo{
            height: 80px;
        }
    
        &_burger {
            cursor: pointer;
            color: $green;
        }
    }
    .item{
        &--card,&--img2{
            margin: 0 15px;
            height: 200px;
        }

        &--card{
            height: 130px;
        }
    }

}

@media only screen and (min-width: 1024px){
    .navbar{
        &_logo{
            height: 75px;
        }
    }

    .item{
        &--card,&--img2{
            margin: 0 35px;
            height: 200px;

        }

        &--card,{
            height: 130px;
            padding: 15px;
        }

        &__title-banner{
            left: 105px;
        }

        &__subtitle-banner{
            font-size: 5em;

            &-l{
                font-size: 4em;
            }
    
            &-3{
                font-size: 4em;
            }
        }
    }
}

@media only screen and (min-width: 1440px){
    .item{
        &__title-banner{
            left: 190px;
        }
    }
}
